#messages {
  width: 325px;
  height: 275px;
  overflow-y: scroll;
}

#messagesBox {
  display: none;
  margin-left: 1em;
}

#messagesForm {
  position: fixed;
  width: 325px;
  top: 305px;
}

#manualForm, #directForm, hr {
  width: 50%;
}

.list-group-item {
  color: #0d6efd;
  cursor: pointer;
}

.message {
  display: table;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 0.5em;
}

.balloonName {
  color: grey;
}
